body {
	max-width: 1000px;

	background-color: #F4F5F6;

	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.3em;
	margin: 2% auto;
}

.entry-container {
	background-color: white;
	padding: 1%;
}

.blog-title {
	margin: 6%;
}

.entry-title {
	margin-top: 0%;
	margin-bottom: 0.85%;
}

.entry {
	margin-top: 2%;
	background-color: white;
	padding: 1%;
}


.tags, .entry-header {
	font-size: 0.85em;
}

.pages {
	margin: 1%;
}

.disabled {
	color: grey;
}

.entry-table {
	width: 1000px;
}
