<!DOCTYPE html>
<html>
<head>
	<title>{{BLOG_NAME}} - Entry mgr</title>

	<link rel="stylesheet" type="text/css" href="/static/css/global.css">
</head>
<body>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul class=flashes>
		{% for message in messages %}
		<li>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}

	<a href="/admin/landing">🡄 Return</a>
	<div class="entry-container">
		<h3>Create new entry</h3>

		<form action="/a/new_entry" method="post">

			<label for="t1">Title</label>   <input id="t1" type="text" name="title">
			<br/>
			<label for="t2">Author</label>   <input id="t2" type="text" name="author" value="{{default_author}}">
			<br/>
			<label for="ta1">Markdown</label>
			<br/>
			<textarea id="ta1" cols="100" rows="10" name="mdcontent"></textarea>
			<br/>
			<label for="t3">Tags</label>  <input id="t3" type="text" name="tags">
			<br/>
			<input type="submit" value="Save new entry">
		</form>
	</div>

	<br>

	<div class="entry-container">

		<h3>Entry List ({{entries | count}} entries)</h3>

		<table class="entry-table">
			<thead>
				<th>oid</th>
				<th>Author</th>
				<th>Title</th>
				<th>Date</th>
				<th>Actions</th>
			</thead>

			<tbody>
				{% for e in entries%}
				<tr>
					<td><a href="/e/{{e.oid}}">{{e.oid}}</a></td>
					<td>{{e.author}}</td>
					<td>{{e.title}}</td>
					<td>{{e.date}}</td>
					<td>
						<form action="/a/delete" method="post">
							<input type="hidden" name="oid" value="{{e.oid}}">
							<input type="submit" value="Delete">
						</form>
					</td>
				</tr>
				{%endfor%}
			</tbody>
		</table>
	</div>
</body>
</html>

<br/>