<!DOCTYPE html>
<html>
<head>
	<title>{{entry.title}}</title>

	<link rel="stylesheet" type="text/css" href="/static/css/global.css">
</head>
<body>
	<div class="entry-container">

		<h2 class="entry-title">{{entry.title}}</h2>

		<div class="entry-header">
			<span class="entry-author"><i class="la la-user"></i>{{entry.author}}</span>
			<br/>
			<i class="la la-calendar"></i>
			<span class="entry-date">{{entry.date}}</span>
		</div>

		<div class="entry-content">
			{{entry.html | safe}}
		</div>

		<div class="footer">
			<i class="la la-tag"></i>
			<span class="tags"> Tags: 
				{% for t in entry.tags %}
				<a href="/t/{{t}}">{{t}}</a>
				{% endfor%}
			</span>

		</div>
	</div>
</body>
</html>
