<!DOCTYPE html>
<html lang="en">
<head>
 	<meta charset="UTF-8" />
 	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{tag}} - page {{current_page}}</title>

	<link rel='shortcut icon' type='image/png' href="{{url_for('static', filename='img/favicon.png', _external=True)}}" />
	<link rel="stylesheet" type="text/css" href="/static/css/global.css">

	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>

	<h2 class="blog-title">{{BLOG_NAME}}</h2>
	
	{% for e in entries%}
	<div class="entry">
		<h3 class="entry-title">{{e.title}}</h3>

		<div class="entry-header">
			<span class="entry-author">{{e.author}}</span>
			<br/>
			<span class="entry-date">{{e.date}}</span>
		</div>

		<div class="entry-content">
				{{e.preview | safe}}
		</div>

		<p>
			<a href="/e/{{e.oid}}">Continue reading</a>
		</p>

		<div class="footer">
			<span class="tags"> Tags: 
				{% for t in e.tags %}
				<a href="/t/{{t}}">{{t}}</a>
				{% endfor%}
			</span>

		</div>
	</div>
	{% endfor %}
	<div class="pages">
		Page {{current_page}} of {{num_pages}}
		<br>

		{%if current_page == 1 %}
			<span class="disabled">🡄 Prev</span> 
		{% else %}
			<a href="/t/{{tag}}/{{current_page -1}}"> 🡄 Prev</a>
		{%endif%}|
		{%if current_page == num_pages %}
			<span class="disabled">Next 🡆</span>
		{% else %}
			<a href="/t/{{tag}}/{{current_page +1}}"> Next 🡆</a>
		{%endif%}


	</div>
</body>
</html>
